<% provide(:title, 'About Us') %>
<!DOCTYPE html>

<div class="row">
  <aside class="span4">
	<div class="well well-sm">
	<%= link_to "Frequently asked question", '#' %>
    </div>
  </aside>
  <aside class="span8">
	<div class="well well-sm" >
	<h1 align="left" >About Us</h1>
	<p>
	  Welcome to Binger Smart Communities web portal. This community-owned portal is designed to foster and promote the VOICE'S of our neighborhoods. Welcome to Binger Smart Communities web portal. This community-owned portal is designed to foster and promote the VOICE'S of our neighborhoods.
	  Welcome to Binger Smart Communities web portal. This community-owned portal is designed to foster and promote the VOICE'S of our neighborhoods.
	  Welcome to Binger Smart Communities web portal. This community-owned portal is designed to foster and promote the VOICE'S of our neighborhoods.
	  Welcome to Binger Smart Communities web portal. This community-owned portal is designed to foster and promote the VOICE'S of our neighborhoods.
	  Welcome to Binger Smart Communities web portal. This community-owned portal is designed to foster and promote the VOICE'S of our neighborhoods.
	  Welcome to Binger Smart Communities web portal. This community-owned portal is designed to foster and promote the VOICE'S of our neighborhoods.
	  Welcome to Binger Smart Communities web portal. This community-owned portal is designed to foster and promote the VOICE'S of our neighborhoods.
	  </p>
	</div>
</aside>
</div>
