<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Binger, <%= @user.name %></h1>
    <p>
      You have successfully signed up to Binger, click the link below
      to edit your profile.
      </p>
    <p>
      <p><%= link_to "Edit profile", edit_user_url(@user) %></p>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>

