<footer class="footer">
<div class="well well-lg" >
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
  <strong class="pull-right badge">@2014 Binger.Inc </strong>
</div>
</footer>